.quote {
  background-color: #6de081;
  color: #fff;
}

.declination {
  background-color: #ff665d;
  color: #fff;
}

.update {
  background-color: #ffb81c;
  color: #fff;
}

mat-card-content {
  height: 60px;
}
