mat-toolbar {
  justify-content: space-between;
}

.content {
  padding: 16px;
  height: 100%;
}

.mat-drawer {
  width: 600px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  background-color: #702082;
  color: #fff;
}
